extends layout

block content
  h1= title
  p Welcome to #[em Store Inventory], a very basic Express website.

  h1 Dynamic content

  p The inventory has the following record counts:

  ul
    li #[strong Items: !{item_count}]
    li
      if item_in_stock_count
        strong Total Items in Stock: !{item_in_stock_count}
      else 
        strong No Items in stock
    li #[strong Categories: !{category_count}]
