body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(212, 230, 248);
  text-shadow: -1px 2px 2px rgb(153, 168, 182);
}

a {
  color: #12014d;
}
a:hover {
  font-size: 15px;
  color: #080024;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
